/* custom animations here */
@keyframes move-bg {
	to {
		background-position-x: 120px;
	}
}

@keyframes fade-up {
	to {
		opacity: 1;
		scale: 1;
	}
}

.fade-up {
	animation: fade-up 0.2s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

@keyframes fade-out {
	to {
		opacity: 0;
		scale: 0.95;
	}
}

.fade-out {
	animation: fade-out 0.2s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

@keyframes w-change {
	to {
		width: 0;
	}
}
