/* first of the all import custom fonts & animations to */
@import url(css/fonts.css);
@import url(css/animations.css);
@import url(css/toastify.css);
/* poppins font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import "tailwindcss";

/* when user disabled javascript on browser showing the (noscript) section */
noscript {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
}

/* custom variables */
@theme {
	--color-black: #0f0f0f;
	--color-yellow: #eab308;
	--color-orange: #f97316;
	--color-cream: #fefce8;
	--color-gray: #a3a3a3;
	--font-dana: "dana", sans-serif;
	--font-dana-bold: "dana-bold", sans-serif;
	--font-poppins: "Poppins", sans-serif;
	--ease-custom: cubic-bezier(0.22, 1, 0.36, 1);
}

/* theme base styles */
@layer base {
	html {
		@apply scroll-smooth scroll-pt-10;
	}

	html,
	body {
		@apply font-dana text-base bg-black text-cream;
		direction: rtl;
	}

	i {
		font-style: normal;
	}

	li {
		@apply list-none;
	}

	button {
		@apply cursor-pointer;
	}

	/* hero header */
	.header {
		@apply fixed w-full right-0 top-0 border-b-2 border-solid border-b-cream/10 z-100 bg-black duration-300 ease-custom;
	}

	/* icons base style */
	.icon {
		@apply flex justify-center items-center text-2xl;
	}
}

/* custom utilities */
@layer utilities {
	.flex-center {
		@apply flex justify-center items-center;
	}

	.flex-between {
		@apply flex justify-between items-center;
	}
}

/* custom components */
@layer components {
	/* container styles */
	.wrapper {
		@apply max-w-7xl p-4 mx-auto;
	}

	/* gap between containers */
	.gap {
		@apply py-15 md:py-20;
	}

	/* links style */
	.link {
		@apply relative p-2 duration-500 ease-custom text-lg;

		&.active,
		&:hover,
		&:focus {
			@apply text-yellow;

			&::after {
				@apply opacity-100 w-full right-0;
			}
		}

		&::after {
			@apply duration-500 ease-custom w-0 h-0.5 opacity-0 absolute bottom-0 left-0 pointer-events-none bg-yellow;
			content: "";
		}
	}

	/* buttons base style */
	.btn {
		@apply font-dana-bold text-lg relative py-2 px-4 flex justify-center items-center bg-black duration-400 ease-custom;
	}

	/* primary button */
	.btn-primary {
		@apply text-black bg-yellow rounded-lg border-3 border-solid border-black ring-3 ring-yellow;

		&:hover {
			@apply scale-105 ring-yellow/1 shadow-lg shadow-black;
		}
	}

	/* location button on header */
	.location-btn {
		@apply rounded-lg text-white;

		&:hover {
			&::after {
				animation: move-bg 1s linear infinite;
			}
		}

		&::after {
			@apply rounded-lg bg-linear-45 from-black via-orange content-[""] absolute inset-0 z-[-1] scale-x-105 scale-y-110;
			@apply duration-400 ease-linear;
		}
	}

	/* primary gradient color */
	.bg-gradient {
		@apply bg-linear-45 from-black via-orange;
	}

	/* hero section start */
	.title {
		@apply leading-12 text-3xl text-center font-bold font-dana-bold md:text-4xl lg:text-5xl xl:text-6xl lg:text-right;
		@apply md:leading-24;
	}

	.sub-text {
		@apply text-sm text-center font-thin text-cream/60 md:text-lg lg:text-right;
	}

	/* modal styles */
	.modal {
		@apply fixed inset-0 bg-black/90 z-100;
	}

	.modal-content {
		@apply relative flex flex-col justify-center items-center min-h-screen;
	}

	.close-modal {
		@apply absolute z-2 top-3 right-3 md:top-10 md:right-5 p-4 bg-rose-500 rounded-lg text-2xl ease-custom duration-300 hover:opacity-80 active:scale-95;
	}

	.content-inner {
		@apply overflow-y-auto;

		img {
			@apply w-96 h-96 md:w-full md:h-screen max-h-[90vh] object-cover rounded-lg drop-shadow-2xl drop-shadow-black border border-solid border-yellow/50;
		}
	}
	/* modal styles end */

	/* line title */
	.line-title {
		@apply relative mb-15 after:content-[""] after:w-full after:h-0.5 after:bg-gradient-to-l after:from-yellow/20 after:to-black after:absolute after:right-0 after:bottom-[-20px];
	}

	/* forms styles */
	.form-control {
		@apply relative;
	}

	.form {
		@apply w-full h-full flex flex-col gap-10 md:gap-20;
	}

	.input-holder {
		@apply relative;

		&:focus-within::after {
			@apply opacity-0;
		}

		&:focus-within::before {
			@apply scale-x-100;
		}

		&::after,
		&::before {
			@apply content-[""] absolute bottom-0 right-0 scale-x-100 origin-center w-full mx-auto left-0 h-[1px] bg-yellow ease-custom duration-500;
		}

		&::before {
			@apply scale-x-0 bg-orange;
		}

		textarea {
			@apply min-h-[100px] max-h-[250px];
		}
	}

	.input {
		@apply w-full outline-none bg-black p-2 text-cream text-xl rounded-lg;
	}

	.label {
		@apply text-lg pointer-events-none select-none absolute top-2 right-2 text-cream/70;

		span {
			@apply ease-custom duration-400;
		}
	}

	.label.active {
		span {
			@apply opacity-0;
		}
	}

	.form-figure {
		@apply relative w-full h-[300px] md:h-[500px] overflow-hidden;

		&::after {
			@apply rounded-lg content-[""] absolute inset-0 bg-[url('/images/backgrounds/black-dots.svg')] bg-cover opacity-40;
		}
	}

	.form-figure-bg {
		@apply rounded-lg absolute inset-0 bg-[url('/images/backgrounds/contact.png')] bg-cover;
	}

	/* forms styles end */

	/* custom selectbox styles */
	.select-container {
		@apply overflow-hidden bg-black relative w-full rounded-lg text-cream text-xl;
	}

	.select-header {
		@apply text-cream/70;

		&.active {
			@apply text-black bg-yellow;
		}
	}

	.select-header,
	.select-option {
		@apply select-none cursor-pointer px-2 py-3 duration-300 ease-custom hover:bg-yellow hover:text-black;
	}

	.select-arrow {
		@apply duration-300 ease-custom;

		&.active {
			@apply rotate-180;
		}
	}

	.select-options {
		@apply max-h-60 overflow-y-auto divide-y divide-dashed divide-yellow duration-300 ease-custom;
	}

	.select-option {
		@apply text-cream/80;

		&:hover .checkmark {
			@apply text-black opacity-100;
		}
	}

	.checkmark {
		@apply text-2xl duration-300 ease-custom opacity-0;

		&.active {
			@apply text-yellow opacity-100;
		}
	}
	/* custom selectbox styles end */
}

/* navigation styles */
.navigation {
	@media (max-width: 64rem) {
		@apply p-4 py-10 bg-black fixed inset-0 overflow-y-auto flex-col items-end z-10 -translate-x-full opacity-0 duration-500 ease-custom;
	}

	&.on {
		@apply opacity-100 translate-x-0;

		.navigation-bg {
			@apply opacity-100;
		}
	}
}

/* humburger header button */
.humburger-button {
	@apply overflow-hidden bg-black rounded-lg border-2 border-solid border-cream/30;
	--humburger-color: var(--color-yellow);
}

.humburger-button .humburger {
	transition: translate 1s, rotate 1s;
}

.humburger-button[aria-expanded="true"] .humburger {
	translate: 3px -3px;
	rotate: 0.125turn;
}

.humburger-button .line {
	transition: 1s;
	stroke-dasharray: 60 31 60 300;
}

.humburger-button[aria-expanded="true"] .line {
	stroke-dasharray: 60 105 60 300;
	stroke-dashoffset: -90;
}

/* spin loader for images on figure with lazy loading attribute */
.spin-loader {
	@apply absolute inset-0 flex justify-center items-center bg-black/80 backdrop-blur-xs;

	.animate-spin {
		@apply w-12 h-12 rounded-full border-3 border-solid border-orange border-l-transparent blur-[1px];
	}
}

/* for figure element to append loader spinner */
[data-figure] {
	@apply relative;
}

/* define custom border for footer socials buttons */
.custom-border {
	background: linear-gradient(var(--color-black), var(--color-black)) padding-box,
		linear-gradient(var(--color-yellow), var(--color-orange)) border-box;

	&:hover {
		@apply shadow-lg shadow-stone-950;
		background: linear-gradient(var(--color-yellow), var(--color-orange)) padding-box,
			linear-gradient(var(--color-black), var(--color-black)) border-box;
	}

	&:hover ion-icon {
		@apply w-0 translate-x-full opacity-0;
	}
	&:hover ion-icon + ion-icon {
		@apply w-8 translate-x-0 opacity-100;
	}
}

/* header section background styles */
.header-section-text {
	h1 {
		@apply text-transparent bg-clip-text bg-cream bg-gradient-to-bl from-yellow to-orange leading-16 lg:leading-20;
	}
}

/* for menu section */
#menu-grid {
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	@apply max-md:grid-cols-2;
}

.menu {
	@apply flex justify-between snap-x overflow-x-auto space-x-6 pb-8;

	&::-webkit-scrollbar {
		@apply bg-yellow/30 rounded-full h-2;
	}

	&::-webkit-scrollbar-thumb {
		@apply bg-yellow rounded-full;
	}
}

.menu-item {
	@apply snap-start;
}

.menu-button {
	@apply text-cream/80 select-none w-32 flex justify-center items-center text-lg rounded-lg border-2 border-solid border-yellow font-medium py-2 px-4 bg-transparent duration-400 ease-custom text-nowrap;

	img {
		@apply w-12 h-12 mx-auto mb-2 duration-400 ease-custom;
	}

	&:hover,
	&.active {
		@apply bg-yellow text-black;

		img {
			@apply bg-cream rounded-full scale-110;
		}
	}
}

/* for menu items boxes */
.menu-item-box {
	@apply cursor-pointer opacity-0 translate-y-10 flex flex-col justify-center items-center overflow-hidden relative py-4 px-0 z-1;
	@apply border-b border-solid border-cream/20;

	&:hover {
		img {
			@apply -translate-y-2 scale-105;
		}
	}

	figure {
		@apply flex flex-col gap-6;

		img {
			@apply object-contain w-full h-48 lg:w-48 lg:object-cover mx-auto drop-shadow-2xl drop-shadow-transparent duration-400 ease-custom;
		}

		figcaption {
			@apply text-center text-base lg:text-lg font-semibold text-cream flex justify-center items-center gap-6;
		}
	}

	.item-info-list {
		@apply text-center mt-auto w-full flex items-center gap-4;

		.item-info {
			@apply flex flex-col items-center justify-center;

			span {
				@apply text-cream/70 text-sm mb-1;
			}

			span:last-child {
				@apply font-semibold text-lg text-orange;
			}
		}
	}
}

.menu-item-box-bg,
.menu-item-box-color {
	@apply absolute inset-0 z-[-1];
}

.menu-item-box-bg {
	@apply bg-[url('/images/backgrounds/coffee-dots.png')] bg-cover bg-no-repeat opacity-20 lg:opacity-10;
}

.menu-item-box-color {
	@apply bg-gradient-to-l from-black via-transparent to-black scale-110;
}

.item-info-modal {
	@apply bg-black bg-gradient-to-r from-black to-neutral-900 rounded-lg p-4 border border-solid border-yellow;
}
/* menu section end */

/* gallery section start */
.custom-grid-layout {
	@apply grid gap-3 md:gap-6 grid-cols-12;

	figure {
		@apply relative cursor-pointer z-1;

		& > * {
			@apply duration-300;
		}

		&:hover {
			&::after {
				opacity: 0;
			}

			.gold-border {
				scale: 0.99;
			}
		}

		&::after {
			@apply duration-300 content-[''] absolute inset-0 bg-gradient-to-t from-black/80 to-transparent;
		}

		img {
			@apply w-full h-full object-cover;
		}
	}

	.gold-border {
		@apply absolute w-max top-0 scale-110 rounded-full z-[-1];
	}

	figure[data-col] {
		@apply col-span-6;
	}

	figure[data-col="6"] {
		@apply md:col-span-6;
	}

	figure[data-col="3"] {
		@apply md:col-span-3;
	}
}
/* gallery styles end */

/* testimonials styles start */
.testimonial-grid {
	@apply grid gap-y-20 gap-x-10 grid-cols-1 md:grid-cols-2;
}

.testimonial-card {
	--start: 0;
	@apply z-1 relative bg-black border border-solid border-cream/20 p-4 rounded-lg;

	&::after {
		@apply absolute content-[''] w-full h-full inset-0;
		@apply rounded-lg border-2 border-solid border-transparent;
		@apply bg-fixed bg-yellow opacity-0 duration-1000 ease-custom;
		mask: linear-gradient(#0000, #0000),
			conic-gradient(from calc((var(--start) - (20 * 1.1)) * 1deg), #ffffff1f 0deg, white, #ffffff00 100deg);
		mask-composite: intersect;
		mask-clip: padding-box, border-box;
		z-index: -1;
	}

	&:hover::after {
		opacity: 1;
	}
}

.card-figure {
	@apply outline-20 outline-solid outline-black translate-y-[-70%];
	@apply mx-auto text-black w-18 h-18 rounded-full text-4xl bg-yellow;
}

.card-header {
	@apply mb-8;

	p {
		@apply text-sm text-gray/90;
	}
}

.card-comment {
	@apply leading-8 text-center text-cream/80;
}

.card-author {
	@apply mt-8 mb-2 mr-8 text-2xl font-semibold;
}
/* testimonials styles end */

/* content section style */
.contact-section {
	@apply relative p-4 rounded-lg;
}

/* when clicked send button change styles */
.submit {
	@apply relative;

	&::after,
	&::before {
		@apply ease-custom duration-300 content-[""] absolute inset-0 bg-black hidden;
	}

	&::before {
		@apply mx-auto top-1.5 rounded-full w-8 h-8 border-2 border-l-transparent border-solid border-yellow z-2 animate-spin;
	}
}

.sending {
	@apply pointer-events-none select-none cursor-not-allowed opacity-70;

	&::after,
	&::before {
		@apply block;
	}
}

/* add timer animation for toastify alert */
.toastify {
	&::after {
		@apply content-[""] absolute bottom-0 right-0 w-full h-[3px] bg-yellow rounded-lg;
		animation: w-change 3s linear forwards;
	}
}

/* reset google captcha style */
[title="reCAPTCHA"] {
	@apply w-full max-w-[280px] ml-auto;
}

/* empty box for menu items container then no many menu items on container this element show */
.empty-box {
	@apply flex flex-col justify-center items-center col-span-full opacity-0 translate-y-10;

	img {
		@apply w-96 h-56 object-cover;
	}

	h3 {
		@apply text-xl md:text-3xl text-rose-500/80 text-center font-semibold font-dana-bold;
	}
}
